/* =================Media Query for Responsive Design==================== */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .banner {
    font-size: 1.01rem;
  }
  header .header_navbar,
  form {
    display: none;
  }
  header {
    padding: 1.5rem 1rem;
  }
  .hamburger_menu {
    display: block;
  }

  .share_your_unfiltered {
    display: flex;
    flex-direction: column-reverse;
    padding: 0rem 1rem 2rem 1rem;
    height: 100%;
  }
  .sub_share_your_unfiltered form {
    display: block;
  }
  h2 {
    font-size: 3rem;
  }
  .share_your_unfiltered form input[type="email"] {
    width: 50%;
  }
  .sub_share_your_unfiltered h2 {
    font-size: 2rem;
    padding-top: 3rem;
  }
  .company_logos_desktop {
    display: none;
  }
  .company_logos_mobile {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem;
  }
  .company_logos_mobile img {
    width: 30%;
  }
  .secure_your_money {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    height: 50vh;
  }
  .sub_secure_your_money h3 {
    width: 100%;
  }
  .secure_your_money img {
    position: absolute;
    left: -5rem;
    bottom: -0.15rem;
    width: 100%;
  }

  .create_amazing_content {
    display: flex;
    flex-direction: column-reverse;
    padding: 0rem 2rem;
    margin-bottom: 0rem;
  }
  .create_amazing_content h3 {
    padding-top: 2rem;
  }
  .create_amazing_content p {
    width: 100%;
    font-size: 0.75rem;
  }
  iframe {
    border: none;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
  }
  .spense_text {
    padding: 0rem;
    width: 100%;
  }
  footer nav {
    display: flex;
    /* flex-direction: row-reverse; */
    gap: 2rem;
    flex-wrap: wrap;
  }
}
/* For tablets: */
@media only screen and (min-width: 600px) {
  header .header_navbar,
  form {
    display: flex;
  }
  .hamburger_menu {
    display: none;
  }
  .banner {
    font-size: 1.2rem;
  }

  .spense_text {
    width: 40%;
  }
}
/* For desktop: */
@media only screen and (min-width: 768px) {
}
