@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
}

.banner {
  font-size: 1rem;
  font-weight: 200;
  background-color: #1d1e30;
  color: white;
  padding: 1rem;
  text-align: center;
}
.banner span {
  text-decoration: underline;
}
.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  width: 100%;
  background-color: rgb(232, 231, 230, 0.6);
}
.header_navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header_navbar a {
  color: rgb(40, 40, 40);
}

.header_navbar a:hover {
  border-bottom: 2px solid #9b2915;
}

input[type="submit"] {
  background-color: #1d1e30;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: #a44200;
}
header input[type="email"] {
  width: 3rem;
  border: none;
  background-color: transparent;
}
.hamburger_menu {
  display: none;
}
/* =================Share your unfiltered thoughts=========================== */
.share_your_unfiltered {
  display: grid;
  grid-template-columns: 1fr 45%;
  padding: 0rem 4rem;
  background-color: rgb(232, 231, 230, 0.6);
  padding-bottom: 4rem;
}
.sub_share_your_unfiltered {
  display: flex;
  flex-direction: column;
}
.sub_share_your_unfiltered img {
  max-width: 4%;
}
div p {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0rem;
}
.share_your_unfiltered .hero_image_desktop {
  display: block;
  width: 100%;
  box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.75);
  border: 1px white solid;
  border-radius: 5px;
}

.sub_share_your_unfiltered h2 {
  font-size: 4rem;
}

.sub_share_your_unfiltered > p {
  color: grey;
  width: 90%;
  padding: 2rem 0rem;
}
.sub_share_your_unfiltered input[type="email"] {
  width: 25%;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 4px;
  border: 1px solid grey;
}
.sub_share_your_unfiltered form {
  padding-top: 2rem;
  display: inline-block;
}

/* =================Company logos=========================== */
.company_logos_desktop {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}
.company_logos_mobile {
  display: none;
}
.company_logos img {
  display: block;
  width: 10%;
  padding: 4px;
  background-color: transparent;
}

/* =================Secure your money with Escrow.=========================== */

.secure_your_money {
  display: grid;
  grid-template-columns: 1fr 45%;
  background-color: rgb(232, 231, 230, 0.6);
  border-radius: 1rem;
  padding: 0rem 4rem;
  width: 100%;
}
.secure_your_money img {
  display: block;
  position: relative;
  left: -40rem;
  object-fit: fill;
}
.sub_secure_your_money {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sub_secure_your_money h3 {
  font-size: 2rem;
  width: 60%;
}
.sub_secure_your_money p {
  color: grey;
  padding: 1rem 0rem;
  width: 90%;
}
.secure_your_money a {
  color: black;
}
.sub_secure_your_money a:hover {
  cursor: pointer;
}

/* =================A text editor like no other.=========================== */

.create_amazing_content {
  display: grid;
  grid-template-columns: 60% 1fr;
  width: 100%;
  padding: 0rem 4rem;
  margin: 4rem 0rem;
}
.create_amazing_content img {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}
.create_amazing_content div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create_amazing_content div p {
  width: 75%;
}
.sub_create_amazing_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub_create_amazing_content h3 {
  font-size: 2rem;
}
.sub_create_amazing_content p {
  color: grey;
  padding: 1rem 0rem;
}
.sub_create_amazing_content a {
  color: black;
  text-decoration: underline;
}
.quill_video {
  text-align: center;
  width: 100%;
}
.quill_video h3 {
  align-self: center;
}
.quill_video p {
  font-size: 0.85rem;
  text-align: left;
  width: 74%;
  color: gray;
}
iframe {
  width: 520px;
  height: 345px;
  padding-right: 2rem;
  padding-top: 0%;
  border-right: 5px solid rgb(60, 60, 60);
}

/* =================Footer.=========================== */
footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  background-color: #1d1e30;
  color: grey;
  padding: 2rem 4rem;
}
footer nav {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
footer div a {
  color: grey;
}
footer div a:hover {
  text-align: center;
  color: #faf9f8;
  border: 0.1px solid white;
  border-radius: 4px;
  transition: 1s;
  padding: 4px;
  box-shadow: 10px 10px 24px -3px rgba(255, 255, 255, 0.75);
}
.footer_info {
  display: flex;
  flex-direction: column;
}

.spense_text {
  width: 30%;
}
.resources a:nth-child(4) {
  text-transform: uppercase;
}
footer .bold_text {
  color: white;
  font-size: 1rem;
}

.spense_text .logo {
  color: white;
}
